#!/usr/bin/make -f

DEBIAN_DIR := $(shell dirname $(realpath $(lastword $(MAKEFILE_LIST))))

include $(DEBIAN_DIR)/../../locations.mk

ifeq ($(MODE),aarch64)
#
# SECO kernel
#
KERNELDIR := $(AXIOMBSP)/build/linux/kernel/link-to-kernel-build
ROOTFSDIR := $(ROOTFS)
else ifeq ($(MODE),x86)
#
# X86 kernel
#
ifdef _KVERSION
KERNELDIR := /lib/modules/$(_KVERSION)/build
else
KERNELDIR := /lib/modules/$(shell uname -r)/build
endif
ROOTFSDIR := /
else
#
# other kernel
#
$(error Unknown MODE='$(MODE)')
endif

ifdef _KVERSION
# forced KVERSION (only needed for x86 compiled into a chroot)
KVERSION := $(_KVERSION)
else
KVERSION := $(shell cat $(KERNELDIR)/include/config/kernel.release)
KVERSION := $(subst -dirty,,$(KVERSION))
endif

# debian sub-packages versions
APPS_VERSION := $(shell git -C $(APPS_DIR) describe --tags --dirty | sed -e 's/^axiom-v//'  -e 's/-/+/' -e 's/-/~/g')
INIT_VERSION := $(APPS_VERSION)
RUN_VERSION := $(APPS_VERSION)
ETHTAP_VERSION := $(APPS_VERSION)
NANOX_VERSION := $(shell git -C $(NANOX_DIR) describe --tags --dirty | sed -e 's/^axiom-v//'  -e 's/-/+/' -e 's/-/~/g')
EVINIC_VERSION := $(shell git -C $(NIC_DIR) describe --tags --dirty | sed -e 's/^axiom-v//'  -e 's/-/+/' -e 's/-/~/g')
ALLOCATOR_VERSION := $(shell git -C $(ALLOCATOR_DRV_DIR) describe --tags --dirty | sed -e 's/^axiom-v//'  -e 's/-/+/' -e 's/-/~/g')
ALLOCATOR_LIB_VERSION := $(shell git -C $(ALLOCATOR_LIB_DIR) describe --tags --dirty | sed -e 's/^axiom-v//'  -e 's/-/+/' -e 's/-/~/g')
GASNET_VERSION := $(shell git -C $(GASNET_DIR) describe --tags --dirty | sed -e 's/^axiom-v//'  -e 's/-/+/' -e 's/-/~/g')

.PHONY: build build-arch build-indep binary binary-arch binary-indep clean

build: build-arch build-indep

build-arch:
	dh_testdir

build-indep:

binary: binary-arch binary-indep

binary-arch: make-changelog init-control
	dh_testroot
	dh_prep
	dh_installdirs

ifneq ($(MODE),x86)
	mkdir -p $(DEBIAN_DIR)/tmp
	$(MAKE) DESTDIR=$(DEBIAN_DIR)/tmp install
#	cp -r $(DEBIAN_DIR)/axiom-startup-static.src/* $(DEBIAN_DIR)/tmp/
#	cp -r $(DEBIAN_DIR)/axiom-startup.src/* $(DEBIAN_DIR)/tmp/
endif

	dh_install --list-missing
	dh_installdocs
	dh_installchangelogs
	dh_installexamples
	dh_installman
	dh_installcatalogs
	dh_installcron
	dh_installdebconf
	dh_installemacsen
	dh_installifupdown
	dh_installinfo
	dh_installinit -paxiom-startup --onlyscripts
	dh_installmenu
	dh_installmime
	dh_installmodules
	dh_installlogcheck
	dh_installlogrotate
	dh_installpam
	dh_installppp
	dh_installudev
	dh_installwm
	dh_installgsettings

	dh_bugfiles
	dh_ucf
	dh_lintian
	dh_gconf
	dh_icons
	dh_perl
	dh_usrlocal

	dh_link
	dh_installxfonts
	dh_compress
	dh_fixperms
#	dh_strip
	dh_makeshlibs
	dh_shlibdeps  --sysroot=$(ROOTFSDIR)
	dh_installdeb

ifneq ($(MODE),x86)
	dh_gencontrol -paxiom-startup-static
	dh_gencontrol -paxiom-startup
	dh_gencontrol -paxiom-scheduler
endif

	echo "kversion=$(KVERSION)" >>$(DEBIAN_DIR)/axiomeu.substvars
	echo "init-version=$(INIT_VERSION)" >>$(DEBIAN_DIR)/axiomeu.substvars
	echo "run-version=$(RUN_VERSION)" >>$(DEBIAN_DIR)/axiomeu.substvars
	echo "ethtap-version=$(ETHTAP_VERSION)" >>$(DEBIAN_DIR)/axiomeu.substvars
	echo "apps-version=$(APPS_VERSION)" >>$(DEBIAN_DIR)/axiomeu.substvars
	echo "nanox-version=$(NANOX_VERSION)" >>$(DEBIAN_DIR)/axiomeu.substvars
	echo "evinic-version=$(EVINIC_VERSION)" >>$(DEBIAN_DIR)/axiomeu.substvars
	echo "allocator-version=$(ALLOCATOR_VERSION)" >>$(DEBIAN_DIR)/axiomeu.substvars
	echo "allocator-lib-version=$(ALLOCATOR_LIB_VERSION)" >>$(DEBIAN_DIR)/axiomeu.substvars
	echo "gasnet-version=$(GASNET_VERSION)" >>$(DEBIAN_DIR)/axiomeu.substvars
	dh_gencontrol -paxiomeu
	echo "kversion=$(KVERSION)" >>$(DEBIAN_DIR)/axiomeu-dev.substvars
	echo "init-version=$(INIT_VERSION)" >>$(DEBIAN_DIR)/axiomeu-dev.substvars
	echo "run-version=$(RUN_VERSION)" >>$(DEBIAN_DIR)/axiomeu-dev.substvars
	echo "ethtap-version=$(ETHTAP_VERSION)" >>$(DEBIAN_DIR)/axiomeu-dev.substvars
	echo "apps-version=$(APPS_VERSION)" >>$(DEBIAN_DIR)/axiomeu-dev.substvars
	echo "nanox-version=$(NANOX_VERSION)" >>$(DEBIAN_DIR)/axiomeu-dev.substvars
	echo "evinic-version=$(EVINIC_VERSION)" >>$(DEBIAN_DIR)/axiomeu-dev.substvars
	echo "allocator-version=$(ALLOCATOR_VERSION)" >>$(DEBIAN_DIR)/axiomeu-dev.substvars
	echo "allocator-lib-version=$(ALLOCATOR_LIB_VERSION)" >>$(DEBIAN_DIR)/axiomeu-dev.substvars
	echo "gasnet-version=$(GASNET_VERSION)" >>$(DEBIAN_DIR)/axiomeu-dev.substvars
	dh_gencontrol -paxiomeu-dev

	dh_md5sums
	dh_builddeb

binary-indep:

clean: init-control clean-changelog
	dh_testdir
	dh_clean
	$(MAKE) -C $(DEBIAN_DIR) -f rules clean-control

#
# ccontrol
#

.PHONY: init-control clean-control

init-control:
ifeq ($(FS),x86)
	ln -s -f $(DEBIAN_DIR)/control.x86 $(DEBIAN_DIR)/control
else
	ln -s -f $(DEBIAN_DIR)/control.other $(DEBIAN_DIR)/control
endif

clean-control:
	rm -f $(DEBIAN_DIR)/control

#
# changelog
#

# NB: no --dirty
VERSION := $(shell git describe --tags | sed -e 's/^axiom-v//'  -e 's/-/+/' -e 's/-/~/g')
BDATE := $(shell date -R)

define changelog
axiom-evi-meta ($(VERSION)) unstable; urgency=low

  * Dummy changelog.

 -- Foo <foo@bar.com>  $(BDATE)
endef
export changelog

.PHONY: make-changelog clean-changelog

make-changelog:
	echo "$$changelog" >$(DEBIAN_DIR)/changelog

clean-changelog:
	rm -f $(DEBIAN_DIR)/changelog
